@import '../App/animate.scss';
@import '../App/app.scss';

.traffic{
    padding-bottom: 30px;
    &__wrapper{
        display: grid;
        justify-content: center;
        gap: 20px;
        grid-template-columns: repeat(2, 300px);
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        background: #1b75cd;
        opacity: 0;
        border-radius: 15px;
        color: #fff;
        transition: 0.3s all;
        &:hover, &:focus{
            background: #c5d8ef;
        }
    }
    &_light{
        background: #e8f0fa;
        position: relative;
        color: #000;
        animation: up 300ms linear 700ms;
        animation-fill-mode: forwards;
    }
    &__icon{
        width: 50px; 
        height: 50px;
        position: absolute;
        left: 40px;
    }
    &_exam{
        background: #db011c;
        animation: up 300ms linear 300ms;
        animation-fill-mode: forwards;
        &:hover, &:focus{
            background: #e9132c;
        }
    }
    &_tickets{
        animation: up 300ms linear;
        animation-fill-mode: forwards;
        &:hover, &:focus{
            background: #307dca;
        }
    }
    &_mistakes{
        animation: up 300ms linear 500ms;
        animation-fill-mode: forwards;
        &:hover, &:focus{
            background: #c5d8ef;
        }
    }
}
