@import '../../App/app.scss';
@import '../../Style/modal.scss';

.themes{
    padding: 60px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__list{
        border-bottom: 1px solid #f5f5f5;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        &::after{
            width: 20px;
            height: 20px;
            border-radius: 100%;
        }
    }
    &__title{
        text-align: center;
    }
    &__link{
        color: #000;
        transition: 0.3s all;
        &:hover, &:focus{
            outline: none;
            opacity: 0.7;
        }
    }
    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            font-size: 22px;
        }
        margin-bottom: 30px;
    }
}

.themes__list.passed{
    &::after{
        background: #85b73e;
        content: '';
    }
}

.themes__list.not_passed{
    &::after{
        background: #db0117;
        content: ''
    }
}